extends layout

block content
	h3 Car Search to update or delete a car from database
	form.form-horizontal.needs-validation(method="POST" action="/viewCar")
		.form-group.col-sm-6
			input.form-control(name="mno" ,type="text",placeholder="Enter model no. to search" required)
		.row
		input.btn.btn-success(type="submit" value="Search")
		.row
	br
	a.btn.btn-primary(href='/AddCar' ) Insert a car
	br 
	br
	h1 Search result
	if cars
		if(cars.length==0)
			h3 No such car
		each car in cars
			.card
				.col-sm-3
					img(src=car.imgpath)
				.col-sm-6
					h3 Name : #{car.name}
					h3 Color : #{car.color}
					h3 Price : #{car.price}
				.col-sm-3
					form(method="POST" action="/delCar/"+car.mno)
						input.btn.btn-danger(type="submit" value="Delete car")
					

