extends layout

block content
	#home
		h1=title
			hr
			.col-sm-6
				h3 Sign-up
				form.form-horizontal.needs-validation(method="POST" action="/signup")
					.form-group
						input.form-control(name="username" ,type="text",placeholder="Username" required)
					.form-group
						input.form-control(name="password" ,type="password",placeholder="Password" required)
					.form-group
						input.form-control(name="cpassword" ,type="password",placeholder="Confirm Password" required)


					hr
					br

					input.btn.btn-success(type="submit" value="Sign-up")
			.col-sm-6
				h3 Login
				form.form-horizontal.needs-validation(method="POST" action="/login")
					.form-group
						input.form-control(name="uname" ,type="text" ,placeholder="Username" required)
					.form-group
						input.form-control(name="pwd" ,type="password",placeholder="Password" required)

					hr
					br

					input.btn.btn-success(type="submit" value="Login")
			hr


