doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/dist/bootstrap.min.css')
		link(rel = 'stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		script(type="text/javascript" src='/dist/jquery.min.js')
		script(type="text/javascript" src='/dist/bootstrap.min.js')
	body
		nav.navbar.navbar-fixed-top.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar' )
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand Cars
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						//li
							a(href='/') Home
						if user
							li
								a #{user.uname}
							li
								a(href='/') Logout
		
		block content