extends layout

block content
	br
	a.btn.btn-default.col-sm-offset-11(href='/carSearch/'+user.uname) Go Back
	if cars.length
		each car in cars
			hr
			.card
				.col-sm-3
					img(src=car.imgpath)
				.col-sm-6
					h2 #{car.name}
					h2 Model no. : #{car.mno}
					h2 Rs. #{car.price}
					br
				.col-sm-3
					form.middle(method="POST" action="/"+user.uname+"/"+car.mno+"/delFromSeeFavs")
								input.btn.btn-warning(type="submit" value="Delete from favourites")
	else
		h1 Empty favourites list !
