body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}

#head {
	
}

img {
	height: 100%;
	width: 100%;
}

.card {
	height: 200px;
	border:2px solid black;
}

.middle {
	position: absolute;
	top: 50%;
	bottom: 50%;
}